/* .container{
    border: 1px solid white;
    
} */
/* div{
    border: 1px solid black;
} */
.mar{
    margin-top: 50px;
}
.bg{
    background-color: black;
}
div.card{
    background-color: black;
    color: yellow;
}

div.row{
    color: white;

}
.myset{
    min-height: 40em;
}